* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: var(--text-color);
  font-family:  'Barlow', sans-serif;
  /* font-family: 'Lato', sans-serif; */
}

.app {
  min-height: 100vh;
  background-color: var(--background);
}
